/*
/r/StarTrekWallpaper subreddit theme
Author: Shadowfacts
Version: 0.1.0
Source: https://github.com/shadowfacts/stw-theme/
*/

// Variables
$lcarsOrange: #F90;
$lcarsBlue: #99C;
$lcarsPink: #C69;
$bg: #222;

// General
body {
	background-color: $bg;
	overflow-x: hidden;
}

a,
.thing a.title { // because the title link has specific colors >.>
	color: #66F;

	&:visited {
		color: $lcarsBlue;
	}
}

// Header
#header {
	// Note: positions may need to be adjusted from center/center for future featured wallpapers
	background: url(%%featured%%) center center no-repeat;
	height: 250px;
	border-bottom: none;

	#header-bottom-left {
		position: absolute;
		bottom: 0px;
		width: 100%;

		#header-img {
			width: 31px; // don't show the text part of the logo
		}

		.redditname {
			color: white;

			a {
				color: transparent;
				width: 193px;
				display: inline-block;

				&::after {
					// because it looks better with spaces
					content: "Star Trek Wallpaper";
					color: white;
					position: absolute;
					bottom: 0px;
					left: 41px;
					font-size: large;
				}

				&:hover::after {
					text-decoration: underline;
				}
			}
		}

		.tabmenu {
			position: absolute;
			right: 0px;
			bottom: 0px;

			li {

				a {
					background-color: $lcarsBlue;
					color: $bg;
					padding: 5px 10px 0px 10px;

					&:hover {
						background-color: $lcarsOrange;
						color: #222;
					}
				}

				&:not(:last-child) {
					margin-right: 2px;
				}

				&:first-child a {
					border-top-left-radius: 10px;
				}

				&:last-child a {
					border-top-right-radius: 10px;
				}

				&.selected a {
					background-color: $lcarsOrange;
					color: white;
					border: none;
					border-bottom: 1px solid $bg;
				}
			}
		}
	}
}

// Sidebar
.side {
	background-color: $bg;
	color: #EEE;

	.titlebox h1 a {
		color: #EEE;
	}

	.linkinfo {
		background-color: $bg;
		border-color: $lcarsBlue;

		.shortlink #shortlink-text {
			background-color: #333;
			color: #EEE;
		}
	}

	.morelink,
	.fancy-toggle-button a,
	.res-fancy-toggle-button {
		border: none;
		background-color: $lcarsBlue;
		background-image: none;
		text-align: left;
		color: $bg;

		&:hover {
			background-color: $lcarsOrange;
			color: #333;

			a {
				color: #333;
			}
		}

		a {
			color: $bg;
			display: block;
			padding-left: 13px;
		}

		.nub {
			display: none;
		}
	}

	.submit-link .morelink {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}

	.submit-text .morelink {
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		position: relative;
		top: -7px; // negate the margin that's on div.spacer
	}

	.subButtons span:first-child,
	.subButtons span:first-child a {
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
	}

	.subButtons span:last-child,
	.subButtons span:last-child a {
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
	}

	.subButtons span:not(:first-child):not(:last-child),
	.subButtons span:not(:first-child):not(:last-child) a {
		border-radius: 0px;
	}

	.subButtons span:not(:last-child) {
		margin-right: 2px;
	}

	.titlebox form.toggle,
	.icon-menu a,
	.sidebox .spacer,
	.leavemoderator {
		background-color: transparent;
	}

	.titlebox form.toggle,
	.leavemoderator,
	.subtitle,
	.titlebox .bottom,
	.sidecontentbox .more a {
		color: #EEE;
	}

	.sidecontentbox .reddit-link .score {
		color: #EEE;
		font-weight: normal;
	}
}

.thing {
	.flat-list form {
		color: #EEE;
	}

	.RES-keyNav-activeElement {
		background-color: $bg !important;
	}
}

body.listing-page .thing .RES-keyNav-activeElement {
	background-color: #333 !important;
}

.linkflairlabel {
	background-color: #555;
	border-color: #666;
	color: #EEE;
}

.commentarea {
	.title,
	.commentingAs {
		color: #EEE;
	}

	.comment-visits-box .title {
		color: #333;
	}
}

// Flairs
// Enable image flair
.flairselector .customizer { display: none !important; }

.flair {
	border: none !important;
	padding: 0px;
	background: url(%%spritesheet%%) no-repeat -9999px -9999px;
	display: inline-block;
	width: 40px;
	height: 40px;
}

// Move flair left
.link .flair, .entry .tagline .flair { float: left; }

// User flairs
// The Cage
.flair-cage1 { background-position: 0px 0px; }
.flair-cage2 { background-position: -40px 0px; }
.flair-cage3 { background-position: -80px 0px; }

// TOS
.flair-tos1 { background-position: 0px -40px; }
.flair-tos2 { background-position: -40px -40px; }
.flair-tos3 { background-position: -80px -40px; }
.flair-tos4 { background-position: -120px -40px; }

// TAS
.flair-tas1 { background-position: 0px -80px; }
.flair-tas2 { background-position: -40px -80px; }
.flair-tas3 { background-position: -80px -80px; }

// Movies
.flair-movie1 { background-position: 0px -120px; }
.flair-movie2 { background-position: -40px -120px; }
.flair-movie3 { background-position: -80px -120px; }
.flair-movie4 { background-position: -120px -120px; }
.flair-movie5 { background-position: -160px -120px; }
.flair-movie6 { background-position: -200px -120px; }

// TNG
.flair-tng1 { background-position: 0px -160px; }
.flair-tng2 { background-position: -40px -160px; }
.flair-tng3 { background-position: -80px -160px; }
.flair-tng4 { background-position: -120px -160px; }

// JJ Trek
.flair-nutrek1 { background-position: 0px -200px; }
.flair-nutrek2 { background-position: -40px -200px; }
.flair-nutrek3 { background-position: -80px -200px; }
.flair-nutrek4 { background-position: -120px -200px; }

// Mod flair
.flair-admiral {
	background: url(%%modsheet%%);
	background-position: 0px 0px;
}
